<form action="/{{this._id}}" method="post" enctype="multipart/form-data">
    <div class="table-responsive">

        <table class="table">
            <thead>
            <tr>
                <th>Chức năng</th>
                <th>Avatar</th>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Họ và tên</th>
                <th>Địa chỉ</th>
                <th>SĐT & Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>

                    <button class="btn btn-primary" type="submit"
                            style="background-color: rgb(61,59,53);">Thêm
                    </button>
                </td>
                <td><input name="avatar" type="file"></td>
                <td><input name="username" placeholder="Enter username"></td>
                <td><input name="password" placeholder="Enter password" type="password"></td>
                <td><input name="name" placeholder="Enter name"></td>
                <td><input name="address" placeholder="Enter address"></td>
                <td><input name="number_phone" placeholder="Enter number phone"></td>
            </tr>
            {{#each users}}
                <tr>
                    <td>

                        <button class="btn btn-primary" type="submit"
                                style="background-color: rgb(61,59,53); width: 100px">Sửa
                        </button>
                        <a href="updateU">Sửa</a>

                    </td>
                    <td> <img src="./uploads/{{this.avatar}}"></td>
                    <!--                                <td>{{this._id}}</td>-->
                    <td>{{this.username}}</td>
                    <td>{{this.password}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.number_phone}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</form>